In [ ]:
for i in range (1,10):
    if i%2 == 0:
        print("The number %s is divisible by 2" % i)
    else:
        print("The number %s is not divisible by 2" % i)

In [ ]:
num_list = []
for i in range(1,21):
    if(i%3==0 or i%5==0):
        num_list.append(i)

print(num_list)

In [ ]:
items = []

for i in range(100,301):

    num_str = str(i)
    first_digit = int(num_str[0])
    second_digit = int(num_str[1])
    third_digit = int(num_str[2])

    if(first_digit % 2 ==0) and (second_digit % 2 ==0) and (third_digit %2 ==0):
        items.append(num_str)

print(", ".join(items))

In [ ]:
for num1 in range(1,10):
    print("num =", num1, ":", end = " ")

    for num2 in range(1,4):
        print("{:1d}".format(num1*num2), end = " ")

        print()

In [ ]:
#Print the cubes of all the elements in a list using a for loop
for i in range(1,10):
    print("The cube of %d is: %d"%(i,i**3))

In [ ]:
#Given the following 2-D list, create a 1-D list containing all the automobile company names
myList=(["Volkswagen","Mercedes","BMW"],["Honda","Toyota","Mazda"])
newList=[]

for sublist in myList:
    for name in sublist:
        newList.append(name)

print(newList)

In [ ]:
#Use the range function to print all the leap years in the 21st Century
for i in range(2000,3000):
    if(i%4 == 0):
        print("The year %d is a leap year"%(i))